@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-container {
  touch-action: manipulation;
}

div[data-selected="true"] {
  outline: 2px solid #6366f1 !important;
  outline-offset: -2px;
  z-index: 200 !important;
}

.multitrack-container div > div > div {
  overflow: visible !important;
}
